/* .circle-buttons {
  margin-top: 20px;
} */

.circle-buttns-container{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* margin-top: 10px; */
  padding:10px;
}

.circle-buttn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 10px 0 0; /* add some space between buttons */
}

.green-buttn {
  background-color: #4CAF50;
}

.red-buttn {
  background-color: #f44336;
}

.blue-buttn {
  background-color: #008CBA;
}

.circle-buttn:hover {
  opacity: 0.8; 
}